@import 'tailwindcss';

@font-face {
	font-family: 'Inter';
	font-style: normal;
	font-weight: 500;
	font-display: swap;
	src: url('/fonts/Inter.ttf') format('truetype');
}

@theme {
	--font-inter: 'Inter', sans-serif;
}
