<nav
	class="flex justify-between p-4 m-4 mx-12 text-3xl bg-zinc-700 rounded-2xl text-white"
>
	<div>STATUS for dkoder</div>
	<div class="flex flex-nowrap">
		<div class="mr-10">Status</div>
		<div>Updates</div>
	</div>
</nav>
